.font-01 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.font-02 {
  font-family: "Courier New", Courier, monospace;
}
.font-3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.font-04 {
  font-family: fantasy;
}
