.main-footer {
  width: 100%;
  padding: 20px 0px;
  background-color: orange;
  list-style: none;
}
.main-footer ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}
footer ul li a {
  padding: 20px;
  margin: 30px;
  font-size: 20px;
  color: beige;
}
footer ul li a:hover {
  color: orange;
}
.div-footer {
  text-decoration: none;
}
